{% extends "users/main_base.html" %}


{% block mobileView %}
<meta name="viewport" content="width=800, user-scalable=yes">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h4 style="font-weight: bold;">인스타그램</h4>
        </div>
    </div>

<div class="alert alert-primary" role="alert">
    게시글을 지우실 건가요?
</div>
<form action="" method ="post">
    {% csrf_token%}
    <input type="submit" value="삭제하기">
</form>

{% endblock %}