{% extends "users/main_base.html" %}
{% load humanize %}

{% block mobileView %}
<meta name="viewport" content="width=800, user-scalable=yes">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <a style="float: right;" class="nav-link" href="{% url 'instagram:photo_create' %}">게시글 작성<span class="sr-only">(current)</span></a>
            <h4 style="font-weight: bold;">DDoStagram</h4>
        </div>
    </div>
    <div>
        <table class="table table-sm table-hover">
            <thead style="border-top: 1px solid #dee2e6;">
                <tr class="text-center">
                    <div class='container'>
                        <div class="row">
                            <!-- <div class="col"></div> -->
                            <div class="col-5">
                                {% for object in object_list %}
                                <div class="card">
                                    <div class="card-header">
                                        <a href="{% url 'instagram:photo_detail' object.id %}">{{object.writer }}</a>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"> {{ object.content | safe }} </p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                    
                                        <li class="list-group-item">
                                            <a href="{% url 'instagram:photo_like' object.id %}" class="float-left btn-like {%if user in object.like.all %} active {%endif%}">좋아요!</a>
                                            {% if object.like.all.count %}
                                            <span class = "float-left">
                                                {{object.like.all.count}}
                                            </span>
                                            {% endif %}
                                        </li>
                                        <li class="list-group-item">생성일 : {{ object.created }}</li>
                                    </ul>
                                    <div class="card-body">
                                    <a href="{% url 'instagram:photo_detail' object.id%}" class="card-link">댓글달기</a>
                                                {% if user == object.writer%}
                                                <a href="{% url 'instagram:photo_update' object.id %}" class="card-link">수정하기</a>
                                                <a href="{% url 'instagram:photo_delete' object.id %}" class="card-link">삭제하기</a>
                                                {% endif%}

                                            </div>

                                        </div>
                                        

                                    </div>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                    <!-- <script type="text/javascript">
                        function deleteModal() {
                            location.replace('/free/{{ photo.id }}/delete/');
                        }
                    </script> -->
{% endfor %}
{% endblock %}